$whiteColor: #fff;
$grayColor: rgba(17, 17, 17, 0.48);

$primaryColor: #222;
$secondaryColor: #333;
$heroColor: #444;
$textPrimaryColor: #555;
$textSecondaryColor: #777;

$postMenuColor: #858585;

$bgSubscribeColor: #FAFAFA;

$lineColor1: #C4C4C4;
$lineColor2: #FAFAFA;

$buttonGradientColor: linear-gradient(#B7C177, #336B39);
$footerColor: #747474;
